<div class="container-fluid">
    <h3>Course Catalog</h3>
    <div *ngIf="isAdmin;" class="mb-3">
        <button class="btn btn-success" (click)="onAddCourseClick()">Add Course</button>
    </div>

    <!-- [course] - receives from parent component which has @Input() course!: Course; -->
    <!-- [course] attribute binding is used to pass the value of course from parent component -->
    <app-course *ngFor="let course of courses" [course]="course" [deleteFromView]="deleteFromView.bind(this)"></app-course>
</div>