*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.img-float{
	width: 250px;
	height: 250px;
	float: inherit;
}

.parent-element{
	background-color: skyblue;
	padding: 50px 10px;
	position: relative;
	height: 800px;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
	position: sticky;
	top: 0;
}

.child-three{
	background-color: gray;
	padding: 10px;
}

.black-box{

}

.gray-box{

}

.green-box{
	
}